
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fcffff;
  color: #03138b;
}

header {
  background-color: #5e6bf9;
  color: white;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.logo-nav-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  width: 80px;
  height: auto;
}

.header-title {
  left: 20px;
  flex-grow: 1;
  text-align: center;
  font-size: 1.5em;
}

.nav-user-container {
  display: flex;
  align-items: center;
  gap: 1em; /* espacio entre menú y el ícono */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a.activo {
  font-weight: bold;
  text-decoration: underline;
}

.user-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.user-icon img {
  width: 100%;
  height: auto;
}

main {
  padding: 2em;
}

.bienvenida {
  text-align: center;
  margin-bottom: 2em;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  background: rgb(123, 191, 247);
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex: 1 1 200px;
  text-align: center;
}

.interactivo {
  margin-top: 2em;
  text-align: center;
}

form{
  background-color: rgb(115, 188, 253);
  padding: 20px;
  border-radius: 15px; /* Bordes redondeados. */
  max-width: 600px;
  margin: auto; /* El cuadrado se centra automaticamente.*/
  box-shadow: 0 4px 10px pink;
}

label {
  display: block;
  color: rgb(87, 45, 194);
}

input {
  background-color: rgb(249, 250, 249);
  color: rgb(8, 7, 7);
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 3px solid pink;
  border-radius: 10px;
  box-sizing: border-box; 
}

button {
  padding: 0.5em 1em;
  background-color: rgb(132, 228, 244);
  color: rgb(1, 1, 2);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

#contacto {
  color: white;
  text-decoration: none;
}
footer {
  background-color: #5e6bf9;
  color: white;
  text-align: center;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}